bottle==0.12.19
certifi==2021.10.8
cffi==1.15.0
charset-normalizer==2.0.12
cryptography==37.0.2
idna==3.3
mysql-connector-python==8.0.29
Paste==3.5.0
protobuf==3.20.1
pycparser==2.21
PyJWT==2.3.0
python-dotenv==0.20.0
requests==2.27.1
six==1.16.0
urllib3==1.26.9
