<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Welcome</title>
</head>
<body>
  <h1>Welcome dear user!</h1>
  <h3 id="token-holder"></h3>
  <script>
    const urlParams = new URLSearchParams(window.location.search);
    const token = urlParams.get('token');

    if (token === undefined) {
      alert('Not authorised');
      fetch('./');
    }

    document.getElementById('token-holder').innerHTML = `Your token is: ${token}`
  </script>
</body>
</html>